{% extends 'layout.html' %}

{% block head %}
  <style>
    pre {color:teal;}
  </style>
{% endblock %}

{% block body %}

  <h3>API Usage:</h3><br>

  <ul>
    <li>
      For a list of all restaurants names and IDs
      <pre>/api/restaurants/</pre>
    </li>
    <hr>
    <li>
      For a specific restaurant data
      <pre>/api/restaurant/&#60;restaurant_id&#62;/</pre>
      replace <code>&#60;restaurant_id&#62;</code> with the equivalent id from <code>/api/restaurants/</code>
    </li>
    <hr>
    <li>
      For a specific menu item data
      <pre>/api/menu_item/&#60;item_id&#62;/</pre>
      replace <code>&#60;item_id&#62;</code> with the equivalent id from <code>/api/restaurant/&#60;restaurant_id&#62;/</code>
    </li>
    <hr>
    <li>
      For a list of all restaurants and their menus
      <pre>/api/all/</pre>
    </li>
    <hr>
  </ul>

{% endblock %}
