{% extends 'layout.html' %}

{% block body %}

  <div class="row mb-2">
    <div class="col-8 ml-2">
      <h3 style="display: inline-block;">Restaurants</h3>
      {% if user %}
      (<a href="{{ url_for('add_restaurant') }}">Add</a>)
      {% endif %}
    </div>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <div class="list-group">
    {% for restaurant in restaurants_list %}
      <a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}" class="list-group-item list-group-item-action">{{ restaurant.name }}</a>
    {% endfor %}
  </div>

{% endblock %}
