{% extends 'layout.html' %}

{% block body %}

  <div class="row justify-content-between mb-2">
    
    <div class="col-8 ml-2">
      <h3 style="display: inline-block;">Restaurants</h3>
      (<a href="{{ url_for('add_restaurant') }}">Add</a>)
    </div>
    
    <div class="col-2 mr-2">
      <div style="text-align: right; position: relative; top:30%">  
        <a href="{{ url_for('api_management.api') }}">API</a>
      </div>
    </div>
  
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <div class="list-group">
    {% for restaurant in restaurants_list %}
      <a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}" class="list-group-item list-group-item-action">{{ restaurant.name }}</a>
    {% endfor %}
  </div>

{% endblock %}
