{% extends 'layout.html' %}

{% block style %}
<style>
  .crud_icon:hover {color: #AFC936}
</style>
{% endblock %}

{% block body %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div id="flash" class="alert alert-success" role="alert" style="position: relative">
          {{ message }}
          <span id="flash-close" style="position: absolute; right: 20px;"> 
            <i class="fas fa-times"></i>
          </span>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="row mb-2">
    <div class="col-8 ml-2">
      <h3 style="display: inline-block;">Restaurants</h3>
      {% if user %}
        <!-- Add Restaurant icon -->
        <a class="ml-2" title="Add New Restaurant" data-toggle="modal" data-target="#add_restaurant_modal">
          <span class="crud_icon">
            <i class="fas fa-plus-circle fa-lg"></i>
          </span>
        </a>
      {% endif %}
    </div>
  </div>
  
  <div class="list-group">
    {% for restaurant in restaurants_list %}
      <a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}" class="list-group-item list-group-item-action">{{ restaurant.name }}</a>
    {% endfor %}
  </div>

  <!-- Add Retaurant Modal -->
  <div class="modal fade" id="add_restaurant_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="text-align: center">
  <div class="modal-content">
      <button type="button" class="close ml-auto mr-2" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h5 class="modal-title mb-3">Add New Restaurant</h5>
      <form action="{{ url_for('add_restaurant') }}" method="post">
        <input class="form-control mr-auto ml-auto mb-3" name="restaurant_name" type="text" placeholder="Restaurant Name" style="width:300px">
        <button type="submit" class="btn btn-primary mb-3" style="width:100px">Add</button>
      </form>
  </div>
  </div>
  </div>

{% endblock %}
