{% extends 'layout.html' %}


{% block head %}
  <!-- get state_token flask variable to use in JS -->
  <script>
    var state_token = '{{ state_token }}';
  </script>

  <!-- Include the Google platform library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}


{% block style %}
<!-- buttons style -->
<!-- https://codepen.io/davidelrizzo/pen/vEYvyv -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='buttons.css') }}">
{% endblock %}


{% block body %}

  <!-- flash messages if any -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <!-- Facebook and Google login buttons -->
  <div id="buttons" class="card m-auto" style="width: 20rem;">
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">Sign up or Login</h5>
      <button class="loginBtn loginBtn--facebook">
        Continue with Facebook
      </button>
      <button class="loginBtn loginBtn--google">
        Continue with Google
      </button>
    </div>
  </div>
  <!-- 
  #buttons div will be hidden upon recieving one-time-code/short-lived-token on client-side which will be sent to server-side via ajax for testing and server feedback will be displayed instead.
  -->


  <!-- div to display server feedback -->
  <div id="result"></div>  

  <!-- Facebook Login JS file -->
  <script src="{{ url_for('static', filename='fb_login.js') }}"></script>
  <!-- Google Login JS file -->
  <script src="{{ url_for('static', filename='g_login.js') }}"></script>
{% endblock %}
