{% extends 'layout.html' %}

{% block body %}

  <h5>
    Search for restaurants worldwide 
  </h5>

  <form class="input-group mb-3 mt-3" action="{{url_for('worldwide_mashup')}}" method="post">
    <input name="address" type="text" class="form-control" 
      placeholder="Address to search around" 
      aria-label="Address to search around" 
      aria-describedby="search">
    <input name="radius" type="text" class="form-control" 
      placeholder="Range of search (meters)" 
      aria-label="Range of search (meters)" 
      aria-describedby="search">
    <input name="meal" type="text" class="form-control" 
      placeholder="Specific meal" 
      aria-label="Specific meal" 
      aria-describedby="search">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" 
        type="submit" id="search">Search</button>
    </div>
  </form>
  
  * Please consider that the search may take a while.
  <hr>
  
  {% if mashup_results %}
  <div class="row justify-content-center" id="worldwide-result">
    {% for result in mashup_results %}
    <div class="card mr-2 mb-2" style="width: 14rem;">
      <img src="{{ result.get('restaurant_photos')[0] }}" class="card-img-top" alt="Restaurant Photo">
      <div class="card-body">
        <h5 class="card-title">{{ result.get('restaurant_name') }}</h5>
        <p class="card-text">{{ result.get('restaurant_address') }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}


{% endblock %}
